@charset "UTF-8";

/*リセットCSS*/
*{
  margin:0;
  padding:0;

  box-sizing:border-box;

  color:#888;
}

/*メインビジュアル*/
.main-visual{
  width:100%;
  height:400px;

  background-image:url(img/mv.jpg);
  background-repeat:no-repeat;
  background-size:cover;
  background-position:bottom;
}

.main-visual-heading{
  padding:20px 0 0 20px;

  color:#aaa;
}

/*メイン*/
main{
  width:100%;
}

.blog-box{
  width:840px;
  margin:0 auto;
  padding:50px 0 20px;
}

.blog-item{
  margin-bottom:30px;
  padding-bottom:30px;
  border-bottom:1px solid #bbb;
}